body {
    background-color:rgb(105, 202, 197)
}
h2{
    color: rgb(202, 43, 43);
}

hr{
    background-color:rgb(154, 230, 183);
    border-style:dotted none none;
    border-color: rgb(19, 109, 97);
    border-width: 5px;
    width:100%;
}